<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <springProperty scope="context" name="logging.path" source="logging.file.path"/>
    <include resource="logback-appender.xml"/>
    <contextName>log-demo</contextName>
    <!--    logging.file.path 为application.properties里的配置信息-->





<!--    <root level="info">-->
<!--        <appender-ref ref="consoleLog"/>-->
<!--        <appender-ref ref="fileInfoLog"/>-->
<!--        <appender-ref ref="fileErrorLog"/>-->
<!--    </root>-->



    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="consoleLog"/>
    </logger>
    <logger name="slow_logger" level="error" additivity="true">
        <appender-ref ref="slowLog" />
    </logger>

</configuration>